# Authentication Information
ontap_username: admin    # In an Ansible Tower/AWX deployment this information would be vaulted
ontap_password: Netapp1! # In an Ansible Tower/AWX deployment this information would be vaulted

# Source Information (data to be protected)
prod_cluster: cluster1  # Source ONTAP cluster
prod_volumes:           # A list of source ONTAP volumes to protect. *** Leave list empty to protect ALL NAS volumes ***
  - { prod_svm: svm_prod, prod_volume: vol_data }

# Destination Information (system being the target for the SnapLock for SnapVault relationship)
protection_cluster: cluster2                # Destination ONTAP cluster
protection_svm: svm_protect                 # Destination ONTAP SVM
protection_volume_suffix: _immutable_backup # Destination ONTAP Volume name will be production volume name + this suffix

# SnapVault Information
prod_volume_snapshot_schedule: 1min      # Schedule name to add to the snapshot policy for protected snapshots (should already exist)
snapshot_snapvault_label: immutable      # SnapMirror label to add to schedule for protected snapshots
snapvault_policy: immutable_vault_policy # SnapVault replication policy
snapvault_snapshots_to_keep: 10          # How many snapshots to keep on the destination SnapVault volume
snapvault_schedule: hourly               # SnapVault replication schedule

# SnapLock Information
snapshot_default_retention_period: "3 minutes" # Retention period for Vaulted Snapshots, i.e. "3 minutes", "3 days", "3 months", or "3 years"
snaplock_type: enterprise                      # SnapLock type ("enterprise" or "compliance")
